.Title {
    font-size: 50px;
    text-align: center;
}

.Explore {
    height: 60px;
    width: 100%;
    font-size: larger;
    background: linear-gradient(-45deg, rgb(96, 10, 255), rgb(72, 0, 255));
    border: 0;
    text-align: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.MainPageObjectElement {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 500px;
}